<%- include('../../fragments/headerProducts.ejs')%>
        <main>
            <h2><%=pageTitle%></h2>
            <form class="form" method="post" action="<%=formAction%>" novalidate>
                <tr>
                    <td>
                        <input type="hidden" name="Id" id="Id" placeholder="Generowano przez system" value="<%=product.Id%>" required/>
                    </td>
                    <td>
                        <label for="Name">Name: <span class="symbol-required">*</span></label>
                        <input type="text" name="Name" id="Name" class="<%= validationErrors.find(e=> e.path.includes('Name')) ?'error-input' : ''%>" placeholder="2-60 znaków" value="<%=product.Name%>" <%= (formMode == 'showDetails') ? 'disabled' : ''%> required />
                        <span id="errorName" class="errors-text">
                            <%if(validationErrors.find(e=> e.path.includes('Name'))) {%>
                            <%=validationErrors.find(e=> e.path.includes('Name')).message%>
                            <%}%>
                        </span>
                    </td>
                    <td>
                        <label for="Cena">Price: <span class="symbol-required">*</span></label>
                        <input type="number" step="0.01" name="Cena" id="Cena" class="<%= validationErrors.find(e=> e.path.includes('Cena')) ?'error-input' : ''%>" placeholder="np. 2.99" value="<%=product.Cena%>" <%= (formMode == 'showDetails') ? 'disabled' : ''%> required />
                        <span id="errorCena" class="errors-text">
                            <%if(validationErrors.find(e=> e.path.includes('Cena'))) {%>
                            <%=validationErrors.find(e=> e.path.includes('Cena')).message%>
                            <%}%>
                        </span>
                    </td>
                    <td>
                        <label for="Expiration_date">Expiration date: <span class="symbol-required">*</span></label>
                        <% if (formMode == 'editError') {%>
                        <input type="date" name="Expiration_date" id="Expiration_date" class="<%= validationErrors.find(e=> e.path.includes('Expiration_date')) ?'error-input' : ''%>" value="<%=product.Expiration_date%>" <%= (formMode == 'showDetails') ? 'disabled' : ''%> required />
                        <%}else {%>
                        <input type="date" name="Expiration_date" id="Expiration_date" class="<%= validationErrors.find(e=> e.path.includes('Expiration_date')) ?'error-input' : ''%>" value="<%=(formMode != 'createNew') ? product.Expiration_date.toISOString().split('T')[0] : product.Expiration_date %>" <%= (formMode == 'showDetails') ? 'disabled' : ''%> required />
                        <%}%>
                        <span id="erorrExpiration_date" class="errors-text">
                            <%if(validationErrors.find(e=> e.path.includes('Expiration_date'))) {%>
                            <%=validationErrors.find(e=> e.path.includes('Expiration_date')).message%>
                            <%}%>
                        </span>
                    </td>
                    <td>
                        <label for="Type">Type: <span class="symbol-required">*</span></label>
                        <input type="text" name="Type" id="Type"  placeholder="np. owocy" class="<%= validationErrors.find(e=> e.path.includes('Type')) ?'error-input' : ''%>" value="<%=product.Type%>" <%= (formMode == 'showDetails') ? 'disabled' : ''%> required />
                        <span id="errorType" class="errors-text">
                            <%if(validationErrors.find(e=> e.path.includes('Type'))) {%>
                            <%=validationErrors.find(e=> e.path.includes('Type')).message%>
                            <%}%>
                        </span>
                    </td>
                </tr>

                <div class="form-buttons">
                    <p id="errorsSummary" class="<%= validationErrors.length > 0 ?'errors-text' : ''%>">
                        <%= validationErrors.length > 0 ?'Formularz zawiera błędy' : ''%>
                    </p>
                    <%if(formMode != 'showDetails') {%>
                    <input type="submit" value="<%=btnLabel%>" class="form-button-submit" />
                    <a href="/products" class="form-button-cancel"> Anuluj</a>
                    <%}else {%>
                        <p><a href="/products/edit/<%=product.Id%>" class="edit-button"> Edytuj</a></p>
                    <%}%>
                </div>

            </form>

            <%if(formMode == 'showDetails' && product.storedProducts.length>0) {%>
                <h2>Szczególy/dostawca</h2>

                <table class="table-list">
                    <thead>
                    <tr>
                        <th>&nbsp;Supplier</th>
                        <th>&nbsp;Delivery date</th>
                        <th>&nbsp;Total cost</th>
                        <th>&nbsp;Perishable</th>
                        <th>&nbsp;Total weight/kg</th>
                    </tr>
                    </thead>
                    <tbody>
                    <%for (let d of product.storedProducts) { %>
                    <tr>
                        <td><a href="/suppliers/details/<%=d.supplier.supplierId%>"> <%=d.supplier.supplierName%></a></td>
                        <td><%=d.deliveryDate.toISOString().split('T')[0]%></td>
                        <td><%=d.totalCost%></td>
                        <td><%=(d.perishable  == 1) ? "True" : "False"%></td>
                        <td><%=d.weightKg%></td>
                    </tr>
                    <%}%>
                    </tbody>
                </table>
                <p><a href="/products" class="back-button">Powrót</a></p>
            <%} else if (formMode == 'showDetails') {%>
                <h2>Szczególy/dostawca</h2>
                <p><a href="/products" class="back-button">Powrót</a></p>
            <%}%>

        </main>
<%- include('../../fragments/footer.ejs')%>